$violet: #1A0937;
$olive-dark: #7B6E00;
$olive-light: #918300;
$corn: #DCCE07;
$sand: #F5EF9B;

$color-background-lighter: $sand;
$color-background-light: $olive-light;
$color-background-dark: $olive-dark;
$color-accent: $corn;
$color-text: $violet;

$color-white: #FFFFFF;
$color-grey: #b3b3b3;
$color-grey-light: #F7F7F7;
$color-grey-lighter: #f3edf7;
